{% extends 'base.html' %}
{% block content %}

{% include 'flash_message.html' %}

<h2>Add Employee</h2>

<form method="POST">
    {{ form.hidden_tag() }}
    <div class="row row-cols-3 align-items-center">
        <div class="col-auto">
            <div> {{ form.name.label(class="col-form-label") }}</div>
            <div> {{ form.salary.label(class="col-form-label") }}</div>
            <div> {{ form.department.label(class="col-form-dropdown") }}</div>
        </div>
        <div class="col-auto">
            <div> {{ form.name(class="form-control") }}</div>
            <div> {{ form.salary(class="form-control") }}</div>
            <div> {{ form.department(class="form-control") }}</div>
        </div>
        <div class="col-auto">
            <div class="col-form-label">Required</div>
            <div class="col-form-label">Required</div>
            <div class="col-form-label">Required</div>
        </div>
    </div>

    <br>
    {{ form.submit(class="btn btn-secondary") }}

</form>




{% endblock %}