{% extends 'base.html' %}

{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="container">
    <h3>Summary</h3>
    <div class="charts_row">
        <div class="s_chart" id="summary_chart_dep"></div>
        <div class="s_chart" id="summary_chart_emp"></div>
        <div class="s_chart" id="summary_chart_cat"></div>
    </div>

    <script>
        var layout = {
            width: 100,
            height: 100,
            showlegend: false
        };
        var config = {
            responsive: false, scrollZoom: true
        };
        var graph1 = {{ summary_chart[0] | safe}};
        Plotly.plot('summary_chart_dep', graph1, layout, config);

        var graph2 = {{ summary_chart[1] | safe}};
        Plotly.plot('summary_chart_emp', graph2, layout, config);

        var graph3 = {{ summary_chart[2] | safe}};
        Plotly.plot('summary_chart_cat', graph3, layout, config);
    </script>

    <h3>Projects</h3>
    <table class="rounded-table">
        <thead>
            <tr>
                <th scope="col" class="table-text">Project</th>
                <th scope="col" class="table-text">Service fees</th>
            </tr>
        </thead>
        <tbody>
            {% for chart_data in project_chats %}
            <tr>
                <td scope="col" class="narrow-column">
                    <p>{{chart_data[0]}}</p>
                </td>
                <td scope="col" class="charts_row">
                    <div class="p_chart" id="{{chart_data[0]}}_dep_chart"></div>
                    <div class="p_chart" id="{{chart_data[0]}}_emp_chart"></div>
                    <script>
                        var graph1 = {{ chart_data[1] | safe}};
                        Plotly.plot('{{chart_data[0]}}_dep_chart', graph1, {});
                        var graph2 = {{ chart_data[2] | safe}};
                        Plotly.plot('{{chart_data[0]}}_emp_chart', graph2, {});
                    </script>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}